#work{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}
.workk-title{
    margin: 1rem 0;
    font-size: 3rem;
}

.works-desc{
    font-weight: 400;
    font-size: 1.5rem;
}

.works-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 60rem;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.works-img{
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    margin: 0.5rem;
    filter: contrast(0.85);
    opacity: 0.75;
}

.works-img:hover{
    filter: contrast(1.15);
    opacity:1;
}

.work-btn{
    padding: 0.9rem 2.5rem;
    outline: none;
    border: none;
    border-radius:2rem ;
    background: white;
    font-size: 1rem;
    margin: 3rem 0;
}

.work-btn:hover{
    background: rgb(220, 220, 220);
}

@media screen  and (max-width:540px){
    .works-img{
        height: 26rem;
        margin: 0.75rem;
    }
}